body{width:100%;}

.search {width: 80%; border: 1px black solid; margin: 0% auto 0% auto;}
.search input:first-child {
    display:inlie-block;
    background-color:mistyrose;
    margin: 3% 1% 2% 38%;
}
.search input:last-child {
    display:inline-block;
    margin : 3% auto 2% 0%;
}

li {display: block; 
    margin: 1% 5% 1% auto;
    padding: 1% 1% 1% 1%;
    border: 1px solid black;
}

a {text-decoration: none;}